{% extends "base.html" %}

{% block title %}CiteWeb: List of URLs saved{% endblock %}

{% block content %}

<p>The list of papers you follow has been saved to the following user key: {{ user_hash }} . <strong>Please save this key somewhere</strong>, should you wish to update your list of papers. It is also part of the following stable URLs,
	which you can use to bookmark your papers:</p>
<p><a href="/view/stable/{{ user_hash }}">http://citeweb.embl.de/view/stable/{{ user_hash }}</a></p>
<p>If you want to use an RSS reader to follow the citation, please visit the link above and click on the RSS link.</p>

{% endblock %}

