{% extends "base.html" %}

{% block title %}CiteWeb: Your cited papers{% endblock %}

{% block head %}
<link rel="alternate" type="application/rss+xml" title="RSS feed of your citations" href="{{ rss_url }}">
{% endblock %}

{% block content %}



This week, the papers you follow have been cited by the following papers (<a href="{{ rss_url }}">RSS</a>, <a href="/import/">change papers</a>):

{% regroup papers|dictsort:"citing" by citing as paper_list %}

{% for citing_paper in paper_list %} 
<div class="paper">
   {% for citing in citing_paper.grouper %}
      {{ citing }}<br/>
   {% endfor %}
   {% for paper in citing_paper.list %}
   <div class="citing">
      <a href="http://scholar.google.com/scholar?q={{ paper.scholar_param }}">{{ paper.title }}</a> <a href="{{ paper.wos_url }}" style="font-size: 50%">[WOS]</a> <a href="http://www.google.com/search?q={{ paper.search_param }}" style="font-size: 50%">[Google]</a><br>
      <div class="authors">{{ paper.authors }}</div>
      <div class="citation">{{ paper.citation|lower }}</div>
   </div>
   {% endfor %}
</div>
{% endfor %}

{% endblock %}

