{% extends "base.html" %}

{% block title %}CiteWeb: Your cited papers{% endblock %}

{% block content %}

{% for paper in papers %}
<div class="paper">
   {% for citing in paper.citing %}
      {{ citing }}<br/>
   {% endfor %}
   <br/>
   <div class="citing">
      <a href="http://scholar.google.com/scholar?q={{ paper.scholar_param }}">{{ paper.title }}</a> <a href="{{ paper.wos_url }}" style="font-size: 50%">WOS</a> <a href="http://www.google.com/search?q={{ paper.search_param }}" style="font-size: 50%">Google</a><br>
      <div class="authors">{{ paper.authors }}</div>
      <div class="citation">{{ paper.citation|lower }}</div>
   </div>
</div>
{% endfor %}



{% endblock %}

